/*define color as var */
:root{
  --pri:#FCDEC0;
  --sec:#7D5A50;
  --tri1:#7D5A50;
  --tri2:#B4846C;
  --quad:#FEBA17;
  --red:tomato;
}
/* font install and add in projectr */
@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./AeonikTRIAL-Bold.otf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}
html,body{
  height : 100%;
  width : 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}
nav{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}
/* section.allElem -> us section ko target karo jiski class he all elem */
/* section .allElem -> section ke andar jo allElem he usko target karo */

section.allElems{ 
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  background-color: var(--tri1);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
}
.elem{
  background-color: var(--quad);
  border-radius: 10px;
  height: 400px;
  width: 270px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.5s;
  cursor: pointer;
}
.elem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elem h2{
  position: absolute;
  bottom: 4%;
  right: 5%;
  color: #2C3639;
  font-size: 30px;
}
.elem:active{
  scale: 0.95;
}
.elem:hover{
  transform: scale(1.05);
}
.fullElem{
  height: 100%;
  width: 100%;
  padding: 40px;
  background-color : #594545;
  display: none;
  position: absolute;
}
.back{
  position: absolute;
  right: 5%;
  background-color: tomato;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  color: black;
}
.back:active{
  scale:0.97;
}
.todo-list-fullpage{
  display: none;
}
.todo-list-fullpage h2{
  font-size: 65px;
}
.todo-list-fullpage .todo-container{
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
  width: 33%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
}
.todo-list-fullpage .todo-container form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
.todo-list-fullpage .todo-container form input#task{
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: #FFE8CD;
  border-radius: 5px;
  border:none;
  outline: none;
  margin-bottom: 20px;
  color:#3B3B1A;
}
.todo-list-fullpage .todo-container form textarea{
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: #FFE8CD;
  border-radius: 5px;
  border:none;
  outline: none;
  color:#3B3B1A;
  margin-bottom: 20px;
  height: 250px;
  resize: none;
}
.todo-list-fullpage .todo-container form button{
  color:#3B3B1A;
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border:none;
  outline: none;
  margin-bottom: 20px;
  background-color:#FED16A;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.3s;
}
.todo-list-fullpage .todo-container form button:active{
  scale: 0.97;
  transition: all 0.3s ease-in-out;
}
.todo-list-fullpage .todo-container .allTask{
  width: 65%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto; 
  /* scroll */
}
.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.task h5{
  color: var(--sec);
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.task h5 span{
  font-size: 10px;
  background-color: var(--red);
  color: var(--pri);
  padding: 3px 5px;
  border-radius: 50px;
}
.task h5 span.true{
  opacity: 1;
}
.task h5 span{
  opacity: 0;
}
.task h5 span{
  opacity: 0;
}
.task button{
  padding: 15px 30px;
  color: var(--pri);
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: #FFE8CD;
  font-weight: 600;
}
#mark-imp {
  display: flex;
  color: var(--red);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  gap: 6px;
}
#mark-imp label{
  color: green;
}
.no-task-msg {
  text-align: center;
  color: #fff7d6;
  font-size: 1.2rem;
  padding: 2rem;
  font-style: italic;
  opacity: 0.7;
}
.daily-planner-fullpage{
  display: none;
}
.daily-planner-fullpage h1{
  font-size: 65px;
}
.daily-planner-fullpage .day-planner{
  background-color: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 97.5%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; 
  overflow: auto;
  }
.daily-planner-fullpage .day-planner .day-planner-time{
  position: relative;
  display: flex;
  align-items: center;
  width: 49%;
  margin-bottom: 10px;
}
.day-planner .day-planner-time p{
  position: absolute;
  top: 10%;
  left:1%;
  font-size: 18px;
}
.day-planner .day-planner-time input{
  padding: 20px 45px;
  width: 100%;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 30px;
  padding-top: 32px;
}
.motivational-fullpage{
  display: none;
  position: relative;
}
.motivational-fullpage .motivation-container{
  height: 500px;
  width: 60%;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
}
.motivational-fullpage .motivation-container::after{
  content:'';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--quad);
  border-radius: 50px;
  scale: 1.15;
  filter: blur(100px);
  z-index: 8;
}
.motivational-fullpage .motivation-container .motivation-wrapper{
  z-index: 10;
  width: 100%;
  position: absolute;
  background-color: var(--tri1);
  border-radius: 40px;
  padding: 17px;
}
.motivation-1{
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 30px;
}
.motivation-1 h2{
  font-size: 40px;
  font-weight: 500;
}
.motivation-2{
  padding: 10px;
  font-size: 50px;
  font-weight: 500;
  color: var(--quad);
  margin-top: 20px;
}
.motivation-2 h1{
  font-size: 42px;
  font-weight: 700;
  color: var(--quad);
}
.motivation-3{
  /* background-color: var(--tri2); */
  padding: 30px;
  border-radius: 30px;
  margin-top: 30px;
}
.motivation-3 h2{
  font-size: 40px;
  font-weight: 500;
  text-align: right;
}
.motivation-1{
  width: fit-content;
}
.motivation-wrapper img{
  position: absolute;
  top: 3%;
  right: 5%;
}